.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-star {
  margin: 0 10px;
}

.score-cross {
  padding: 0.5rem 0.25rem 0 0.25rem;
  font-size: 1rem;
}

.score-points {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
