.riddle-host {
  width: 100%;
}

.button-container > .nes-btn {
  margin: 20px 10px 0 10px;
}

.stars-container {
  margin-bottom: 10px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-over-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image-wrapper {
  min-width: 80%;
}

@media only screen and (max-width: 600px) {
  .content-wrapper {
    width: 100%;
  }
}
