.content-wrapper {
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px !important;
}

.game-over-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
