.sections > div {
  margin-bottom: 10px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-over-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .nes-container {
    padding: 1.5rem 0rem !important;
  }

  .sections > div {
    padding: 0rem 1rem;
  }
}
