.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-over-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
