.App-container {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.App-section {
  padding: 2rem;
}

@media (max-width: 600px) {
  .App-section {
    padding: 0.5rem;
  }
}
